.footer {
    background-color: $veryDark;
}

.footer-content {
    font-family:'Montserrat';
    color: $light;
    padding: 60px 0;
}

.footer-content__info-lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}
// .footer-content__commercial-list {

// }
// .logo {
// }
.logo_footer-logo {
    margin-bottom: 24px;
}

.footer-content__commercial-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
}
.footer-content__list {
    padding-top: 20px;
}

.info-block__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    margin-bottom: 20px;
}

.info-block__list-item {
    margin-bottom: 20px;
}

.info-block__list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.2s ease;
    &_footer {
        color: $light; 
        &:hover {
            color: $main;
        }
    }
}
.footer-content__list_last {
    text-align: end;
}
.footer-content__list-title-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    margin-bottom: 20px;
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.footer-content__social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content__social-bar {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 12px;
}

.footer-content__political {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $secondLight;
    margin-top: 8px;
}