@import "../styles/variables";

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200%;
    background-color: #fff;
    transition: all 0.4s ease;
    &_active {
        bottom: 0;
    }
}
// .modal__content {

// }

.login-modal {
    font-family: 'Montserrat';   
    position: relative;
    z-index: 9;
}

.login-modal__choiсe {
    display: flex;
    position: relative;
}
.login-modal__choiсe-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $light;
    border: none;
    border-top: 3px solid $main;
    transition: all 0.2s ease;
    z-index: 1;
    &_pro {
        left: 50%;
    }
}
.login-modal__choiсe-option {
    width: 50%;
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    padding: 13px 37px;
    transition: all .2s ease;
    background: transparent;
    border: none;
    cursor: pointer;
    &_active {
        font-weight: 700;
    }
}

.login-modal__forms {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $light;
}
// .login-modal__form {
// }
.login-modal__form-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $main;
    margin-bottom: 12px;
}
.modal-input {
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    border: none;
    outline: none;
}

.login-modal__in-btn {
    width: 350px;
}

.login-modal__swap-to-reg {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    width: fit-content;
    margin: 0 auto;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-registration {
    font-family: 'Montserrat';
}
.modal-registration__top {
    text-align: center;
    margin-bottom: 40px;
}
.modal-registration__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: $main;
    margin-bottom: 10px;
}
.modal-registration__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $dark;
}
.modal-registration__forms {
    display: flex;
    flex-direction: column;
}
.modal-registration__input {
    background-color: $light;
    margin-bottom: 30px;
}
.modal-registration__btn {
    width: 410px;
}


