@import "../styles/variables";

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200%;
    background-color: #fff;
    transition: all 0.4s ease;
    &_active {
        bottom: 0;
    }
}

.login-modal {
    font-family: 'Montserrat';
    
}

.login-modal__choiсe {
    display: flex;
    position: relative;
}
.login-modal__choiсe-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $light;
    border: none;
    border-top: 3px solid $main;
    transition: all 0.2s ease;
    z-index: 1;
    &_pro {
        left: 50%;
    }
}
.login-modal__choiсe-option {
    width: 50%;
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    padding: 13px 37px;
    transition: all .2s ease;
    background: transparent;
    border: none;
    cursor: pointer;
    &_active {
        font-weight: 700;
    }
}

.login-modal__forms {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $light;
}
// .login-modal__form {
// }
.login-modal__form-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $main;
    margin-bottom: 12px;
}
.login-modal__input {
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    border: none;
    outline: none;
}

.login-modal__in-btn {
    width: 350px;
}

.login-modal__swap-to-reg {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    width: fit-content;
    margin: 0 auto;
    border: none;
    background: transparent;
    cursor: pointer;
}


