@import "../styles/variables";

.main-offer {
    height: fit-content;
    padding: 0 85px 40px;
    background-image: url(../images/main_bcg.jpg);
    background-color: #1C1C1C;
    background-repeat: no-repeat; 
    background-position: right top;
    font-family: 'Montserrat';
    font-weight: 500;
    color: $dark;
    margin-bottom: 75px;
}

.main-offer__top-text {
    padding: 130px 0 133px;
    color: #F5F5F6;
}

.main-offer__title {
    font-weight: 800;
    font-size: 72px;
    margin-bottom: 20px;
    max-width: 500px;
}

.main-offer__text {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 36px;
    max-width: 500px;    
}

.main-offer__config {
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px 0;  
    background-color: #fff;
}

.config__choice {
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.config__btn {
    width: 190px;
}

.btn {
    padding: 13px 13px;
    border: none;
    background-color: $light;
    color: $dark;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.4s ease;
    cursor: pointer;
    &_active {
        background-color: $main;
        color: #fff;
        font-weight: 700;
    }
}

.config__choice-more {
    display: flex;
    gap: 12px;
    margin-left: auto;
    cursor: pointer;
    min-width: 206px;
}

.config__options {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.option {
    padding-bottom: 28px;
    width: 190px;
    min-width: 130px;
    &_with-slider{
        width: 300px;
        min-width: 170px;
        padding-bottom: 28px;
    }
}

.option__form {
    position: relative;
    margin-top: 12px;
    background-color: $light;
    font-weight: 400;
    line-height: 22px;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown__form-arrow {
    transition: all 0.4s ease;
    &_active {
        transform: rotate(180deg);
    }
}


.dropdown__list {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: $light;
    font-weight: 400;
    line-height: 22px;
    flex-direction: column;
    gap: 8px;
    transition: all 0.4s ease;
    display: flex;
    height: 0;
    overflow: hidden;
    &_active {
        padding: 16px;
        height: auto;
    }
}

.range {
    
    &__in {
        background: transparent;
        outline: none;
        border: none;
        min-width: 20px;
        max-width: 80px;
    }
    &__slider {
        position: absolute;
        left: 10px;
        right: 10px;
        background: $light;
        top: 72px;
        z-index: 2;
        outline: none;
        height: 2px;
        appearance: none;
        pointer-events: none;
        cursor: pointer;
        height: 0;     
        &::-webkit-slider-thumb {
            appearance: none;
            pointer-events: all;
            background-color: $main;
            width: 10px;
            height: 10px;
          }
    }
    &__line {
        height: 2px;
        left: 0;
        right: 0;
        position: absolute;
        top: 71px;
        background-color: $light;
        z-index: 1;
        &_green {
            background-color: $main;
            left: 10px;
            right: 10px; 
        }
    }
}

.btn-invert {
    padding: 13px 13px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    background-color: $main;
    color: #fff;
    font-weight: 700;
    transition: all 0.4s ease;
    cursor: pointer;
    &_active {
        background-color: $light;
        color: $dark;
        font-weight: 500;
    }
}
.content-section {
    font-family: 'Montserrat';
    margin-bottom: 150px;
    color: $dark;
}

.content-section__title {
    line-height: 49px;
    font-weight: 700;
    font-size: 40px;

}
.content-section__content {
    margin-top: 60px;

}

.grid-five-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(234px,1fr));
    gap: 30px;
}

.building-types__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 312px;
    max-height: 312px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $dark;
    transition: all 0.4s ease;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.0);
        z-index: 1;
        transition: all 0.4s ease;
    }
    &:hover {
        background-size: 104%;
        &:before {
            background: rgba(0,0,0,.2);
        }
    }
}


.house-type {
    background-image: url(../images/house.jpg);
}
.bath-type {
    background-image: url(../images/bath.jpg);
}
.garage-type {
    background-image: url(../images/garage.jpg);
}
.awning-type {
    background-image: url(../images/awning.jpg);
}
.commercial-type {
    background-image: url(../images/commercial.jpg);
}

.building-types__count {
    background-color: $main;
    padding: 2px 12px;
    width: fit-content;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    z-index: 2;
}

.building-types__name {
    width: 100%;
    line-height: 28px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.technology-types {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 30px;
}

.technology-types__item {
    padding: 46px 20px;
    background-size: cover;
    background-position: center;
    height: 120px;
    border: 2px solid $light;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dark;
}   

.beam-type {
    background-image: url(../images/beam.jpg);
}
.gun-carriage-type {
    background-image: url(../images/gun-carriage.jpg);
}
.half-timbered-type {
    background-image: url(../images/half-timbered.jpg);
}
.log-type {
    background-image: url(../images/log.jpg);
}
.frame-type {
    background-image: url(../images/frame.jpg);
}
.clt-type {
    background-image: url(../images/clt.jpg);
}
.panel-frame-type {
    background-image: url(../images/panel-frame.jpg);
}
.kelo-type {
    background-image: url(../images/kelo.jpg);
}



.useful-links__img {
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.num-of-floors {
    background-image: url(../images/links-img-1.jpg);
}
.house-style {
    background-image: url(../images/links-img-2.jpg);
}
.house-shape {
    background-image: url(../images/links-img-3.jpg);
}


.useful-links {
    height: 510px;
}

.useful-links__item {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.useful-links__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.useful-links__links {
    padding: 30px 20px 0;
    border: 2px solid $light;
    border-top: none;
    flex-grow: 1;
}

.useful-links__list-item {
    margin-bottom: 12px;
}

.useful-links__link {
    font-weight: 400;
    font-size: 14px;
    color: $dark;
    text-decoration: underline; 
}