@import "../styles/variables";

.header {
    position: relative;
    z-index: 10;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.header_modal-active {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;   

}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-grow: 1;
    flex-basis: 0;
    &__item {
        cursor: pointer;
    }
}

.modal-btn {
    height: 16px;
    width: 18px;
    position: relative;
}

.modal-btn__span {
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: $main;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    left: 50%;
}

.first {
    top: calc(50% - 5px);
}
.mid {
    top: 50%;
}

.last {
    top: calc(50% + 5px);
}

.modal-btn_active {
    & > .first {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    & > .mid {
        opacity: 0;
    }
    & > .last {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
}

.search {
    height: 20px;
    display: flex;
}

.search__input {
    width: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid $main;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.4s ease;
}

.search__input_active {
    width: 200px;
    margin-left: 14px;
}


.lang-switch {
    position: relative;
    & div + div {
        margin-left: 12px;
    }
}

.lang-switch__wrap {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -3px;
    left: -4px;
    z-index: -1;
    background-color: $main;
    transition: all 0.4s ease;
}

.lang-switch__wrap_en {
    left: 30px;
}

.lang-switch__item {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    color: $dark;
    transition: all 0.4s ease;
}

.lang-switch__item_active {
    color: #fff;
}

.top-bar__right-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 34px;
    flex-grow: 1;
    flex-basis: 0;
}

.right-items__item {
    cursor: pointer;
}

.callback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 187px;
    &__number {
        font-weight: 700;
        font-size: 20px;
        color: $dark;
        transition: all 0.4s ease;
    }
    &__offer {
        font-weight: 500;
        font-size: 12px;
        color: $main;
        transition: all 0.4s ease;
    }
    &:hover {
        .callback__number {
            transform: scale(1.02);  
        }
        .callback__offer {
            transform: scale(1.02); 
        }
    }
}