@charset "UTF-8";
@import "normalize v8.0.1.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 10;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.header_modal-active {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Montserrat";
}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-grow: 1;
  flex-basis: 0;
}
.nav__item {
  cursor: pointer;
}

.modal-btn {
  height: 16px;
  width: 18px;
  position: relative;
}

.modal-btn__span {
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #8DB338;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  left: 50%;
}

.first {
  top: calc(50% - 5px);
}

.mid {
  top: 50%;
}

.last {
  top: calc(50% + 5px);
}

.modal-btn_active > .first {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.modal-btn_active > .mid {
  opacity: 0;
}
.modal-btn_active > .last {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.search {
  height: 20px;
  display: flex;
}

.search__input {
  width: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #8DB338;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.4s ease;
}

.search__input_active {
  width: 200px;
  margin-left: 14px;
}

.lang-switch {
  position: relative;
}
.lang-switch div + div {
  margin-left: 12px;
}

.lang-switch__wrap {
  position: absolute;
  width: 26px;
  height: 26px;
  top: -3px;
  left: -4px;
  z-index: -1;
  background-color: #8DB338;
  transition: all 0.4s ease;
}

.lang-switch__wrap_en {
  left: 30px;
}

.lang-switch__item {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  color: #49423D;
  transition: all 0.4s ease;
}

.lang-switch__item_active {
  color: #fff;
}

.top-bar__right-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 34px;
  flex-grow: 1;
  flex-basis: 0;
}

.right-items__item {
  cursor: pointer;
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 187px;
}
.callback__number {
  font-weight: 700;
  font-size: 20px;
  color: #49423D;
  transition: all 0.4s ease;
}
.callback__offer {
  font-weight: 500;
  font-size: 12px;
  color: #8DB338;
  transition: all 0.4s ease;
}
.callback:hover .callback__number {
  transform: scale(1.02);
}
.callback:hover .callback__offer {
  transform: scale(1.02);
}

.main-offer {
  height: fit-content;
  padding: 0 85px 40px;
  background-image: url(../images/main_bcg.jpg);
  background-color: #1C1C1C;
  background-repeat: no-repeat;
  background-position: right top;
  font-family: "Montserrat";
  font-weight: 500;
  color: #49423D;
  margin-bottom: 75px;
}

.main-offer__top-text {
  padding: 130px 0 133px;
  color: #F5F5F6;
}

.main-offer__title {
  font-weight: 800;
  font-size: 72px;
  margin-bottom: 20px;
  max-width: 500px;
}

.main-offer__text {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 36px;
  max-width: 500px;
}

.main-offer__config {
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #fff;
}

.config__choice {
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.config__btn {
  width: 190px;
}

.btn {
  padding: 13px 13px;
  border: none;
  background-color: #f5f5f6;
  color: #49423D;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn_active {
  background-color: #8DB338;
  color: #fff;
  font-weight: 700;
}

.config__choice-more {
  display: flex;
  gap: 12px;
  margin-left: auto;
  cursor: pointer;
  min-width: 206px;
}

.config__options {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.option {
  padding-bottom: 28px;
  width: 190px;
  min-width: 130px;
}
.option_with-slider {
  width: 300px;
  min-width: 170px;
  padding-bottom: 28px;
}

.option__form {
  position: relative;
  margin-top: 12px;
  background-color: #f5f5f6;
  font-weight: 400;
  line-height: 22px;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__form-arrow {
  transition: all 0.4s ease;
}
.dropdown__form-arrow_active {
  transform: rotate(180deg);
}

.dropdown__list {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #f5f5f6;
  font-weight: 400;
  line-height: 22px;
  flex-direction: column;
  gap: 8px;
  transition: all 0.4s ease;
  display: flex;
  height: 0;
  overflow: hidden;
}
.dropdown__list_active {
  padding: 16px;
  height: auto;
}

.range__in {
  background: transparent;
  outline: none;
  border: none;
  min-width: 20px;
  max-width: 80px;
}
.range__slider {
  position: absolute;
  left: 10px;
  right: 10px;
  background: #f5f5f6;
  top: 72px;
  z-index: 2;
  outline: none;
  height: 2px;
  appearance: none;
  pointer-events: none;
  cursor: pointer;
  height: 0;
}
.range__slider::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  background-color: #8DB338;
  width: 10px;
  height: 10px;
}
.range__line {
  height: 2px;
  left: 0;
  right: 0;
  position: absolute;
  top: 71px;
  background-color: #f5f5f6;
  z-index: 1;
}
.range__line_green {
  background-color: #8DB338;
  left: 10px;
  right: 10px;
}

.btn-invert {
  padding: 13px 13px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  background-color: #8DB338;
  color: #fff;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn-invert_active {
  background-color: #f5f5f6;
  color: #49423D;
  font-weight: 500;
}

.content-section {
  font-family: "Montserrat";
  margin-bottom: 150px;
  color: #49423D;
}

.content-section__title {
  line-height: 49px;
  font-weight: 700;
  font-size: 40px;
}

.content-section__content {
  margin-top: 60px;
}

.grid-five-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  gap: 30px;
}

.building-types__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 312px;
  max-height: 312px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #49423D;
  transition: all 0.4s ease;
}
.building-types__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: all 0.4s ease;
}
.building-types__item:hover {
  background-size: 104%;
}
.building-types__item:hover:before {
  background: rgba(0, 0, 0, 0.2);
}

.house-type {
  background-image: url(../images/house.jpg);
}

.bath-type {
  background-image: url(../images/bath.jpg);
}

.garage-type {
  background-image: url(../images/garage.jpg);
}

.awning-type {
  background-image: url(../images/awning.jpg);
}

.commercial-type {
  background-image: url(../images/commercial.jpg);
}

.building-types__count {
  background-color: #8DB338;
  padding: 2px 12px;
  width: fit-content;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  z-index: 2;
}

.building-types__name {
  width: 100%;
  line-height: 28px;
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.technology-types {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  gap: 30px;
}

.technology-types__item {
  padding: 46px 20px;
  background-size: cover;
  background-position: center;
  height: 120px;
  border: 2px solid #f5f5f6;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #49423D;
}

.beam-type {
  background-image: url(../images/beam.jpg);
}

.gun-carriage-type {
  background-image: url(../images/gun-carriage.jpg);
}

.half-timbered-type {
  background-image: url(../images/half-timbered.jpg);
}

.log-type {
  background-image: url(../images/log.jpg);
}

.frame-type {
  background-image: url(../images/frame.jpg);
}

.clt-type {
  background-image: url(../images/clt.jpg);
}

.panel-frame-type {
  background-image: url(../images/panel-frame.jpg);
}

.kelo-type {
  background-image: url(../images/kelo.jpg);
}

.useful-links__img {
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.num-of-floors {
  background-image: url(../images/links-img-1.jpg);
}

.house-style {
  background-image: url(../images/links-img-2.jpg);
}

.house-shape {
  background-image: url(../images/links-img-3.jpg);
}

.useful-links {
  height: 510px;
}

.useful-links__item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.useful-links__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.useful-links__links {
  padding: 30px 20px 0;
  border: 2px solid #f5f5f6;
  border-top: none;
  flex-grow: 1;
}

.useful-links__list-item {
  margin-bottom: 12px;
}

.useful-links__link {
  font-weight: 400;
  font-size: 14px;
  color: #49423D;
  text-decoration: underline;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 200%;
  background-color: #fff;
  transition: all 0.4s ease;
}
.modal_active {
  bottom: 0;
}

.login-modal {
  font-family: "Montserrat";
}

.login-modal__choiсe {
  display: flex;
  position: relative;
}

.login-modal__choiсe-wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #f5f5f6;
  border: none;
  border-top: 3px solid #8DB338;
  transition: all 0.2s ease;
  z-index: 1;
}
.login-modal__choiсe-wrap_pro {
  left: 50%;
}

.login-modal__choiсe-option {
  width: 50%;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #49423D;
  padding: 13px 37px;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
  cursor: pointer;
}
.login-modal__choiсe-option_active {
  font-weight: 700;
}

.login-modal__forms {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f5f5f6;
}

.login-modal__form-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #8DB338;
  margin-bottom: 12px;
}

.login-modal__input {
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  border: none;
  outline: none;
}

.login-modal__in-btn {
  width: 350px;
}

.login-modal__swap-to-reg {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8DB338;
  width: fit-content;
  margin: 0 auto;
  border: none;
  background: transparent;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */