// normalize
@import "normalize v8.0.1.css";
// body {
//     overflow: auto;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
}
//  fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

// main styles ???



// blocks
@import '../_header/header.scss';

@import '../_main/main.scss';

@import '../_modals/modals.scss';



